.h2 {
    position:relative;
    border-radius: 15px;
    text-align: center;
}
.dashboard-box {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.total_delivery_order_box {
    position:relative;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(182, 182. 232. 0.31);
    background-color: rgb(0,255,0);
}
.total_delivery_order_title {
    font-size: 13px;
    color : black;
}
.total_delivery_order_count {
    font-size: 13px;
    color: black;
    font-weight: 250;
}
.pending_delivery_order_box {
    position:relative;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(182, 182. 232. 0.31);
    background-color: rgb(50,205,50);
}
.pending_delivery_order_title {
    font-size: 13px;
    color : black;
}
.total_pending_delivery_order_count {
    font-size: 13px;
    color: black;
    font-weight: 250;
}
.complete_delivery_order_box {
    position:relative;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(182, 182. 232. 0.31);
    background-color: rgb(60,179,113);
}
.complete_delivery_order_title {
    font-size: 13px;
    color : black;
}
.total_complete_delivery_order_count {
    font-size: 13px;
    color: black;
    font-weight: 250;
}
.trans_vehicle_count_ready_box {
    position:relative;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(182, 182. 232. 0.31);
    background-color: rgb(50,205,50);
}
.trans_vehicle_count_ready_title {
    font-size: 13px;
    color : black;
}
.trans_total_vehicle_count_ready_count {
    font-size: 13px;
    color: black;
    font-weight: 250;
}
.trans_vehicle_count_ready_onbook_box {
    position:relative;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(182, 182. 232. 0.31);
    background-color: rgb(173,255,47);
}
.trans_vehicle_count_ongoing_box {
    position:relative;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(182, 182. 232. 0.31);
    background-color: rgb(144,238,144);
}
.trans_vehicle_count_onreturn_box {
    position:relative;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(182, 182. 232. 0.31);
    background-color: rgb(0,250,154);
}
.trans_vehicle_count_notready_box {
    position:relative;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(182, 182. 232. 0.31);
    background-color: rgb(0,250,154);
}
.vli_vehicle_count_ready_box {
    position:relative;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(182, 182. 232. 0.31);
    background-color: rgb(255,165,0);
}
.vli_vehicle_count_onbook_box {
    position:relative;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(182, 182. 232. 0.31);
    background-color: rgb(255,127,80);
}
.vli_vehicle_count_ongoing_box {
    position:relative;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(182, 182. 232. 0.31);
    background-color: rgb(255,69,0);
}
.vli_vehicle_count_onreturn_box {
    position:relative;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(182, 182. 232. 0.31);
    background-color: rgb(232,97,0);
}
.vli_vehicle_count_notready_box {
    position:relative;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(182, 182. 232. 0.31);
    background-color: rgb(255,143,0);
}
.truck_vehicle_count_ready_box {
    position:relative;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(182, 182. 232. 0.31);
    background-color: rgb(255,0,0);
}
.truck_vehicle_count_onbook_box {
    position:relative;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(182, 182. 232. 0.31);
    background-color: rgb(255,160,122);
}
.truck_vehicle_count_ongoing_box {
    position:relative;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(182, 182. 232. 0.31);
    background-color: rgb(240,128,128);
}
.truck_vehicle_count_onreturn_box {
    position:relative;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(182, 182. 232. 0.31);
    background-color: rgb(250,128,114);
}
.truck_vehicle_count_notready_box {
    position:relative;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(182, 182. 232. 0.31);
    background-color: rgb(255,99,71);
}
.half_char.chart-container.card-shadow {
    height:  49%;
}

.dashboard-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}